<!DOCTYPE html>
<html ng-app="pedidos">
<head>
	<meta charset="UTF-8">
	<title>Pedidos</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<style>
		.jumbotron { width: 500px; margin: 50px auto 0 auto; padding: 20px 50px  50px; }
		.form-control { margin-bottom: 5px; }
	</style>
</head>
<body ng-controller="pedidosCtrl">
	<div class="jumbotron">
		<h3>Cardápio</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Preço</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cardapio">
					<td>{{item.nome}}</td>
					<td>{{item.preco | currency : "R$ "}}</td>
				</tr>
			</tbody>
		</table>
		<h3>Pedidos</h3>
		<table ng-show="pedidos.length"  class="table table-striped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Preço</th>
					<th>Qtd</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pedido in pedidos">
					<td>{{pedido.item.nome}}</td>
					<td>{{pedido.item.preco | currency : "R$ "}}</td>
					<td>{{pedido.quantidade}}</td>
					<td>{{pedido.item.preco * pedido.quantidade | currency : "R$ "}}</td>
				</tr>
				<tr>
					<td colspan="3"><strong>Total</strong></td>
					<td><strong>{{getTotal() | currency : "R$ "}}</strong></td>
				</tr>
			</tbody>
		</table>
		<p ng-hide="pedidos.length" class="text-warning">Não há pedidos no momento</p>
		<form action="">
			<select class="form-control" ng-model="pedido.item" ng-options="item.nome for item in cardapio">
				<option value="">Selecione um item</option>
			</select>
			<input class="form-control" type="number" min="1" ng-model="pedido.quantidade" placeholder="Quantidade" ng-disabled="!pedido.item">
			<button class="btn btn-primary btn-block" ng-click="salvarPedido(pedido);" ng-disabled="!pedido.quantidade || !pedido.item">Salvar pedido</button>
		</form>
	</div>
</body>
</html>